<a href="https://colab.research.google.com/github/bspoloo/SIS420-012024/blob/main/Examen%20Laboratorios/%20Copia_de_Ejercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Examen de Laboratorio 1 () Grupo 1
 <h3>En este laboratorio se hizo el uso del dataset para aplicar la regularización y sin utilizar regularización a la Regresion Lineal, y como siguiente se presento los resultados de ambas experiencias<h3>
 <HR>
 <h3>
  NOMBRE: POLO ORELLANA BRAYAN SIMON <br>
  CARRERA: INGENIERIA DE SISTEMAS <BR>
  FECHA: 10/03/2024 <BR>

  * [Enlace de invitacion para ser colaborador](https://github.com/bspoloo/SIS420-012024/invitations)
  
  * [Enlace al git hub](https://github.com/bspoloo/SIS420-012024/tree/main/Laboratorios/Laboratorio%204)
  
  * [Enlace al Colab](https://colab.research.google.com/github/bspoloo/SIS420-012024/blob/main/Laboratorios/Laboratorio%204/Regresion%20lineal.ipynb?hl=es#scrollTo=jmDd6cd2hQ_W)
  
 <h3>|

Para el laboratorio implementando regularizacion se hizo uso del dataset para predecir el precio de las casas en USA. El enlace al dataset es [House Sales in King County, USA](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction).

El conjunto de datos, denominado ``kc_house_data.csv``, contiene un conjunto de entrenamiento de precios de casas en el condado de King. Este conjunto de datos probablemente incluye varias características relevantes para predecir el precio de las casas, como el tamaño de la vivienda, el número de habitaciones, la ubicación, las características específicas de la casa, etc.

# Regresion Lineal Multivariable

In [2]:
# utilizando la libreria os para manejos de directorios
import os

# Computacion vectorial y cientifica para python
import numpy as np

#importamos pandas para el manejo del dataset, y separarlos dentro de una matriz
import pandas as pd

#esta tabulate nos sirve para hacer tablas
from tabulate import tabulate

# Librerias para graficación (trazado de gráficos)
from matplotlib import pyplot
from mpl_toolkits.mplot3d import Axes3D  # -> Necesario para graficar superficies 3D

#Para separa el 20% y 80%
from sklearn.model_selection import train_test_split

# Modulo de optimizacion en scipy
from scipy import optimize

### 1.1 Cargamos los datos del dataset
cargamos los datos haciendo el uso de la libreria **Pandas** que  es una herramienta poderosa y versátil utilizada para manipulación y análisis de datos. Ofrece estructuras de datos flexibles y eficientes para trabajar con datos tabulares, como hojas de cálculo en Excel o tablas SQL.

In [3]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
#Haciendo uso de la libreria pandas para leer el dataset, delimitado por ","
dataset = pd.read_csv('/content/gdrive/MyDrive/Datasets/MiningProcess_Flotation_Plant_Database.csv', delimiter=',')


#ahora tenemos un dataframe
#Imprimimos
dataset

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,"55,2","16,98","3019,53","557,434","395,713","10,0664","1,74","249,214","253,235",...,"250,884","457,396","432,962","424,954","443,558","502,255","446,37","523,344","66,91","1,31"
1,2017-03-10 01:00:00,"55,2","16,98","3024,41","563,965","397,383","10,0672","1,74","249,719","250,532",...,"248,994","451,891","429,56","432,939","448,086","496,363","445,922","498,075","66,91","1,31"
2,2017-03-10 01:00:00,"55,2","16,98","3043,46","568,054","399,668","10,068","1,74","249,741","247,874",...,"248,071","451,24","468,927","434,61","449,688","484,411","447,826","458,567","66,91","1,31"
3,2017-03-10 01:00:00,"55,2","16,98","3047,36","568,665","397,939","10,0689","1,74","249,917","254,487",...,"251,147","452,441","458,165","442,865","446,21","471,411","437,69","427,669","66,91","1,31"
4,2017-03-10 01:00:00,"55,2","16,98","3033,69","558,167","400,254","10,0697","1,74","250,203","252,136",...,"248,928","452,441","452,9","450,523","453,67","462,598","443,682","425,679","66,91","1,31"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737448,2017-09-09 23:00:00,"49,75","23,2","2710,94","441,052","386,57","9,62129","1,65365","302,344","298,786",...,"313,695","392,16","430,702","872,008","418,725","497,548","446,357","416,892","64,27","1,71"
737449,2017-09-09 23:00:00,"49,75","23,2","2692,01","473,436","384,939","9,62063","1,65352","303,013","301,879",...,"236,7","401,505","404,616","864,409","418,377","506,398","372,995","426,337","64,27","1,71"
737450,2017-09-09 23:00:00,"49,75","23,2","2692,2","500,488","383,496","9,61874","1,65338","303,662","307,397",...,"225,879","408,899","399,316","867,598","419,531","503,414","336,035","433,13","64,27","1,71"
737451,2017-09-09 23:00:00,"49,75","23,2","1164,12","491,548","384,976","9,61686","1,65324","302,55","301,959",...,"308,115","405,107","466,832","876,591","407,299","502,301","340,844","433,966","64,27","1,71"
737452,2017-09-09 23:00:00,"49,75","23,2","1164,12","468,019","384,801","9,61497","1,6531","300,355","292,865",...,"308,115","413,754","514,143","881,323","378,969","500,1","374,354","441,182","64,27","1,71"

### 1.2 Analisis del dataset
Hacemos un analisis del dataset mostrando su informacion usando la funcion de `info()`:|

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737453 entries, 0 to 737452
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          737453 non-null  object
 1   % Iron Feed                   737453 non-null  object
 2   % Silica Feed                 737453 non-null  object
 3   Starch Flow                   737453 non-null  object
 4   Amina Flow                    737453 non-null  object
 5   Ore Pulp Flow                 737453 non-null  object
 6   Ore Pulp pH                   737453 non-null  object
 7   Ore Pulp Density              737453 non-null  object
 8   Flotation Column 01 Air Flow  737453 non-null  object
 9   Flotation Column 02 Air Flow  737453 non-null  object
 10  Flotation Column 03 Air Flow  737453 non-null  object
 11  Flotation Column 04 Air Flow  737453 non-null  object
 12  Flotation Column 05 Air Flow  737453 non-null  object
 13  Flotation Column 06 Air Flow  737453 non-null  object
 14  Flotation Column 07 Air Flow  737453 non-null  object
 15  Flotation Column 01 Level     737453 non-null  object
 16  Flotation Column 02 Level     737453 non-null  object
 17  Flotation Column 03 Level     737453 non-null  object
 18  Flotation Column 04 Level     737453 non-null  object
 19  Flotation Column 05 Level     737453 non-null  object
 20  Flotation Column 06 Level     737453 non-null  object
 21  Flotation Column 07 Level     737453 non-null  object
 22  % Iron Concentrate            737453 non-null  object
 23  % Silica Concentrate          737453 non-null  object
dtypes: object(24)
memory usage: 135.0+ MB

Eliminamos la fecha ya que esa fecha solo indica que dia se tomo los datos

date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,Flotation Column 03 Air Flow,Flotation Column 04 Air Flow,Flotation Column 05 Air Flow,Flotation Column 06 Air Flow,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate

In [5]:
dataset['% Iron Feed'] = dataset['% Iron Feed'].str.replace(',', '.').astype(float)
dataset['% Silica Feed'] = dataset['% Silica Feed'].str.replace(',', '.').astype(float)
dataset['Amina Flow'] = dataset['Amina Flow'].str.replace(',', '.').astype(float)
dataset['Ore Pulp Flow'] = dataset['Ore Pulp Flow'].str.replace(',', '.').astype(float)
dataset['Ore Pulp pH'] = dataset['Ore Pulp pH'].str.replace(',', '.').astype(float)
dataset['Ore Pulp Density'] = dataset['Ore Pulp Density'].str.replace(',', '.').astype(float)
dataset['Flotation Column 01 Air Flow'] = dataset['Flotation Column 01 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 02 Air Flow'] = dataset['Flotation Column 02 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 03 Air Flow'] = dataset['Flotation Column 03 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 04 Air Flow'] = dataset['Flotation Column 04 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 05 Air Flow'] = dataset['Flotation Column 05 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 06 Air Flow'] = dataset['Flotation Column 06 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 07 Air Flow'] = dataset['Flotation Column 07 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 01 Level'] = dataset['Flotation Column 01 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 02 Level'] = dataset['Flotation Column 02 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 03 Level'] = dataset['Flotation Column 03 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 04 Level'] = dataset['Flotation Column 04 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 05 Level'] = dataset['Flotation Column 05 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 06 Level'] = dataset['Flotation Column 06 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 07 Level'] = dataset['Flotation Column 07 Level'].str.replace(',', '.').astype(float)
dataset['% Iron Concentrate'] = dataset['% Iron Concentrate'].str.replace(',', '.').astype(float)
dataset['Starch Flow'] = dataset['Starch Flow'].str.replace(',', '.').astype(float)
dataset['% Silica Concentrate'] = dataset['% Silica Concentrate'].str.replace(',', '.').astype(float)


dataset

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.20,16.98,3019.53,557.434,395.713,10.06640,1.74000,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.20,16.98,3024.41,563.965,397.383,10.06720,1.74000,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.20,16.98,3043.46,568.054,399.668,10.06800,1.74000,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.20,16.98,3047.36,568.665,397.939,10.06890,1.74000,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.20,16.98,3033.69,558.167,400.254,10.06970,1.74000,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737448,2017-09-09 23:00:00,49.75,23.20,2710.94,441.052,386.570,9.62129,1.65365,302.344,298.786,...,313.695,392.160,430.702,872.008,418.725,497.548,446.357,416.892,64.27,1.71
737449,2017-09-09 23:00:00,49.75,23.20,2692.01,473.436,384.939,9.62063,1.65352,303.013,301.879,...,236.700,401.505,404.616,864.409,418.377,506.398,372.995,426.337,64.27,1.71
737450,2017-09-09 23:00:00,49.75,23.20,2692.20,500.488,383.496,9.61874,1.65338,303.662,307.397,...,225.879,408.899,399.316,867.598,419.531,503.414,336.035,433.130,64.27,1.71
737451,2017-09-09 23:00:00,49.75,23.20,1164.12,491.548,384.976,9.61686,1.65324,302.550,301.959,...,308.115,405.107,466.832,876.591,407.299,502.301,340.844,433.966,64.27,1.71
737452,2017-09-09 23:00:00,49.75,23.20,1164.12,468.019,384.801,9.61497,1.65310,300.355,292.865,...,308.115,413.754,514.143,881.323,378.969,500.100,374.354,441.182,64.27,1.71

ahora como todos son de tipo object, se tienen que cambiar de tipo de dato a float, para que todos esten en un mismo dato y no haya errores al momento del entrenamiento:

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737453 entries, 0 to 737452
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          737453 non-null  object
 1   % Iron Feed                   737453 non-null  float64
 2   % Silica Feed                 737453 non-null  float64
 3   Starch Flow                   737453 non-null  float64
 4   Amina Flow                    737453 non-null  float64
 5   Ore Pulp Flow                 737453 non-null  float64
 6   Ore Pulp pH                   737453 non-null  float64
 7   Ore Pulp Density              737453 non-null  float64
 8   Flotation Column 01 Air Flow  737453 non-null  float64
 9   Flotation Column 02 Air Flow  737453 non-null  float64
 10  Flotation Column 03 Air Flow  737453 non-null  float64
 11  Flotation Column 04 Air Flow  737453 non-null  float64
 12  Flotation Column 05 Air Flow  737453 non-null  float64
 13  Flotation Column 06 Air Flow  737453 non-null  float64
 14  Flotation Column 07 Air Flow  737453 non-null  float64
 15  Flotation Column 01 Level     737453 non-null  float64
 16  Flotation Column 02 Level     737453 non-null  float64
 17  Flotation Column 03 Level     737453 non-null  float64
 18  Flotation Column 04 Level     737453 non-null  float64
 19  Flotation Column 05 Level     737453 non-null  float64
 20  Flotation Column 06 Level     737453 non-null  float64
 21  Flotation Column 07 Level     737453 non-null  float64
 22  % Iron Concentrate            737453 non-null  float64
 23  % Silica Concentrate          737453 non-null  float64
dtypes: float64(23), object(1)
memory usage: 135.0+ MB

### 1.3 Separacion del 80% de los datos para entrenamiento y 20% para pruebas

Haremos uso de la libreria `sklearn` haciendo uso de su funcion `train_test_split()`, donde recibe como parametros:

`Arrays o matrices de características (X): `Estos son los datos que se utilizarán para hacer predicciones. Por lo general, son las variables independientes o características del conjunto de datos.

`test_size (opcional):` Este parámetro especifica el tamaño del conjunto de prueba. Puede ser un número decimal entre 0 y 1, que representa el porcentaje del conjunto de datos que se asignará al conjunto de prueba, o puede ser un entero que representa el número absoluto de muestras en el conjunto de prueba. Por ejemplo, si test_size=0.2, se asignará el 20% del conjunto de datos al conjunto de prueba.

`train_size (opcional):` Este parámetro especifica el tamaño del conjunto de entrenamiento. Al igual que test_size, puede ser un número decimal entre 0 y 1 o un entero que representa el número absoluto de muestras en el conjunto de entrenamiento. Si no se proporciona, se calcula automáticamente como 1 - test_size.

`random_state (opcional):` Este parámetro permite establecer una semilla para la generación de números pseudoaleatorios. Esto garantiza que la división de los datos sea reproducible. Si se establece en un número entero, el resultado será el mismo cada vez que se ejecute el código.

In [6]:
train_dataset, test_dataset = train_test_split(dataset, test_size=0.2, random_state=42)

# Seleccionamos las columnas para X y la columna 'price' para y
X_test = test_dataset.drop(['% Iron Feed'], axis=1).values
y_test = test_dataset['% Iron Feed'].values
m_test = len(y_test)

# Seleccionamos las columnas para X y la columna 'price' para y
X_train = train_dataset.drop(['% Iron Feed'], axis=1).values
y_train = train_dataset['% Iron Feed'].values
m_train = len(y_train)
# Ahora, X y y deberían contener datos numéricos del 80% del dataset

### 1.3 Normalización de caracteristicas

Al visualizar los datos se puede observar que las caracteristicas tienen diferentes magnitudes, por lo cual se debe transformar cada valor en una escala de valores similares, esto con el fin de que el descenso por el gradiente pueda converger mas rapidamente.


Hacemos el uso de la siguiente funcion para normalizar los datos:

In [7]:
def  featureNormalize(X):
    X_norm = X.copy()

    #creamos un array de ceros con una longitud igual al número de columnas en el array X. La variable mu y sigma se inicializa como este array de ceros.
    mu = np.zeros(X.shape[1])
    sigma = np.zeros(X.shape[1])

    #Creamos el promedio de cada columna de X
    mu = np.mean(X, axis = 0)
    sigma = np.std(X, axis = 0)

    sigma[sigma == 0] = 1

    #normalizamos los datos con la siguiente formula
    X_norm = (X - mu) / sigma

    return X_norm, mu, sigma

Normalizamos los datos e Imprimimos algunos datos normalizados:

In [ ]:
print(X_train.shape[1])
X_norm, mu, sigma = featureNormalize(X_train)
# imprimir todos las X de datos solo 10

23

### 1.5 Añadimos la columna de unos
 graficamos cada caracteristica respecto a Y, esto para ver la relacion entre estos.

In [ ]:
X_ready = np.concatenate([np.ones((m_train, 1)), X_norm], axis=1)

#### 1.6.1 Cálculo del costo $J(\theta)$

La funcion de costo es una medida que se utiliza para evaluar qué tan bien está funcionando un modelo de aprendizaje automático en la tarea que se le ha asignado. Su objetivo principal es cuantificar la discrepancia entre las predicciones del modelo y los valores reales observados en los datos de entrenamiento.

In [ ]:
def calcularCosto(X, y, theta, lambda_):
    m = y.size
    J = 0

    #creamos una varable temporal para theta, donde decimos que el primer valor de temp es 0, esto para respetar la formula donde j = 1
    temp = theta.copy()
    temp[0] = 0  # Excluimos theta_0 de la regularización
    h = np.dot(X, theta)
    J = (1 / (2 * m)) * np.sum(np.square(h - y)) + (lambda_ / (2 * m)) * np.sum(np.square(temp))
    return J

#### 1.6.2 Descenso por el gradiente

El costo $J(\theta)$ esta parametrizado por el vector $\theta$, no $X$ y $y$. Donde hay que minimizar el valor de $J(\theta)$ cambiando los valores del vector $\theta$.

Una buena manera de verificar si el descenso por el gradiente esta trabajando correctamente es ver los valores de $J(\theta)$ y verificar si estos decresen en cada paso.

Creamos la funcion para calcular el descenso por la gradiente y obtener un theta y J_historico.


Tambien introducimos el parametro lambda_ para aplicar regularizacion.

Para el calculo de nuestras thetas sera

para Theta 0 sera `theta[0] = theta[0] - ((alpha/m) *( np.dot(X, theta) - y).dot(X[:, 0]))`.

Para las demas thetas sera `theta[1:] = theta[1: ] - ((alpha/m) *( np.dot(X, theta) - y).dot(X[:, 1:])) - (alpha * lambda_ / m) * theta[1:]`

In [ ]:
#Creamos la funcion para calcular el descenso por Gradiente
def calcularDescensoGradiente(X, y, theta, alpha, numero_iteraciones, lambda_):
    m = y.shape[0]
    theta = theta.copy()
    J_historico = []

    for i in range(numero_iteraciones):
        # theta = theta - (alpha / m) * (np.dot(X, theta) - y).dot(X)

        theta[0] = theta[0] - ((alpha/m) *( np.dot(X, theta) - y).dot(X[:, 0]))
        theta[1:] = theta[1: ] - ((alpha/m) *( np.dot(X, theta) - y).dot(X[:, 1:])) - (alpha * lambda_ / m) * theta[1:]

        J_historico.append(calcularCosto(X, y, theta, lambda_))

    return theta, J_historico

In [ ]:
#creamos un theta con 19 columnas de ceros
theta = np.zeros(X_train.shape[1] + 1)

#numero de iteraciones sera 1000000 y un alpha 0.00009
num_ite = 5000
alpha = 0.0009
lambda_ = 1000

theta, J_historico = calcularDescensoGradiente(X_ready, y_train, theta, alpha, num_ite, lambda_)
print("########################################################################################################")
print("Los valores de theta calculados son:")
i = 0
for tht in theta:
    i += 1
    print(f"theta {i}: {tht}")
print(f"########################################################################################################")
#mostramos el ultimo costo, este seria el mejor costo
print(f"con un costo de: { J_historico[-1]} ")

# print("Grafica la convergencia del costo")
# Grafica de la convergencia del costo

### 1.7 Grafica de la convergencia del costo
graficamos el costo

In [ ]:
pyplot.plot(np.arange(len(J_historico)), J_historico, lw=2)
pyplot.title("Grafica de la convergencia del costo")
pyplot.xlabel('Numero de iteraciones')
pyplot.ylabel('Costo J')

### 1.8 Grafica de la regresion lineal
En esta parte se trazan los datos de entrenamiento y una línea que representa la regresión lineal ajustada a esos datos.

In [ ]:
pyplot.rcParams['agg.path.chunksize'] = 10000  # Ajusta el tamaño del bloque de la ruta de renderizado


graficarDatos(X_ready[:, 1], X_ready[:, 2], "xlabel1", "xlabel2")

pyplot.plot(X_ready[:,1], np.dot(X_ready, theta), '-')

pyplot.legend(['Datos de entrenamiento', 'regresion lineal'])

In [ ]:
X_array = np.array([ 5.,2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,250.576,295.096,306.4,250.225,250.884,457.396,432.962,424.954,443.558,502.255,446.37,523.344,66.91.131])
X_array = X_array.reshape(1, -1)

X_array[:, 1:] = (X_array[:, 1:] - mu) / sigma

prediccion = np.dot(X_array, theta)

print (f"La prediccion de de consumo electrico es: {prediccion}")

### 1.10 Validaciones
Para hacer las validaciones correspondientes, primero se crea la funcion del **Mean squeared error**

Siguiendo el consejo de 80/20, donde 80% es para la fase de entrenamiento, y 20% es para la fase de prueba.

#### 1.10.1 Creacion de la funcion del error cuadratico medio
Se crea la funcion para hacer las comparaciones par ver que tanto se aleja nuestra prediccion de nuestra y_predicha.

In [ ]:
#Creamos la funcion:
def mean_squared_error(y_pred, y_actual):
    resta = y_pred - y_actual
    err_cuadrado = np.sum(resta ** 2)
    return err_cuadrado / len(y_pre)

In [ ]:
#### 1.10.2 haciendo calculo del error cuadratico medio
#haciendo x_test que es el 20% restante
m_ready = len(y_test)

#Concatenamos de unos a la primera posicion del X_test
X_ready_test = np.concatenate([np.ones((m_ready, 1)), X_test], axis=1)

# Normalizamos todos, menos el primer valor de cada ejemplo porque este contiene los unos
for datos_test in X_ready_test:
    datos_test[1:] = (datos_test[1:] - mu) / sigma

#creamos un array que almacenara cada una de las y_predicha
y_predicha = []
for data_test_ready in X_ready_test:
    y_predicha.append(np.dot(data_test_ready, theta))

mse = mean_squared_error(y_predicha, y_test)
#calculamos el error cuadratico medio:
print('Error Cuadrático Medio (MSE) = ' + str(mse))
print('Raíz del Error Cuadrático Medio (RMSE) = ' + str(np.sqrt(mse)))