# Examen de Laboratorio 1 () Grupo 1
 <h3>En este laboratorio se hizo el uso del dataset para aplicar la regularización y sin utilizar regularización a la Regresion Lineal, y como siguiente se presento los resultados de ambas experiencias<h3>
 <HR>
 <h3>
  NOMBRE: POLO ORELLANA BRAYAN SIMON <br>
  CARRERA: INGENIERIA DE SISTEMAS <BR>
  FECHA: 10/03/2024 <BR>

  * [Enlace de invitacion para ser colaborador](https://github.com/bspoloo/SIS420-012024/invitations)
  
  * [Enlace al git hub](https://github.com/bspoloo/SIS420-012024/tree/main/Laboratorios/Laboratorio%204)
  
  * [Enlace al Colab](https://colab.research.google.com/github/bspoloo/SIS420-012024/blob/main/Laboratorios/Laboratorio%204/Regresion%20lineal.ipynb?hl=es#scrollTo=jmDd6cd2hQ_W)
  
 <h3>|

Para el laboratorio implementando regularizacion se hizo uso del dataset para predecir el precio de las casas en USA. El enlace al dataset es [House Sales in King County, USA](https://www.kaggle.com/datasets/harlfoxem/housesalesprediction).

El conjunto de datos, denominado ``kc_house_data.csv``, contiene un conjunto de entrenamiento de precios de casas en el condado de King. Este conjunto de datos probablemente incluye varias características relevantes para predecir el precio de las casas, como el tamaño de la vivienda, el número de habitaciones, la ubicación, las características específicas de la casa, etc.

# Regresion Lineal Multivariable

In [1]:
# utilizando la libreria os para manejos de directorios
import os

# Computacion vectorial y cientifica para python
import numpy as np  

#importamos pandas para el manejo del dataset, y separarlos dentro de una matriz
import pandas as pd

#esta tabulate nos sirve para hacer tablas
from tabulate import tabulate

# Librerias para graficación (trazado de gráficos)
from matplotlib import pyplot
from mpl_toolkits.mplot3d import Axes3D  # -> Necesario para graficar superficies 3D

#Para separa el 20% y 80%
from sklearn.model_selection import train_test_split

# Modulo de optimizacion en scipy
from scipy import optimize

### 1.1 Cargamos los datos del dataset
cargamos los datos haciendo el uso de la libreria **Pandas** que  es una herramienta poderosa y versátil utilizada para manipulación y análisis de datos. Ofrece estructuras de datos flexibles y eficientes para trabajar con datos tabulares, como hojas de cálculo en Excel o tablas SQL.

In [19]:
#Haciendo uso de la libreria pandas para leer el dataset, delimitado por ","
dataset = pd.read_csv('MiningProcess_Flotation_Plant_Database.csv', delimiter=',')


#ahora tenemos un dataframe
#Imprimimos
dataset

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,"55,2","16,98","3019,53","557,434","395,713","10,0664","1,74","249,214","253,235",...,"250,884","457,396","432,962","424,954","443,558","502,255","446,37","523,344","66,91","1,31"
1,2017-03-10 01:00:00,"55,2","16,98","3024,41","563,965","397,383","10,0672","1,74","249,719","250,532",...,"248,994","451,891","429,56","432,939","448,086","496,363","445,922","498,075","66,91","1,31"
2,2017-03-10 01:00:00,"55,2","16,98","3043,46","568,054","399,668","10,068","1,74","249,741","247,874",...,"248,071","451,24","468,927","434,61","449,688","484,411","447,826","458,567","66,91","1,31"
3,2017-03-10 01:00:00,"55,2","16,98","3047,36","568,665","397,939","10,0689","1,74","249,917","254,487",...,"251,147","452,441","458,165","442,865","446,21","471,411","437,69","427,669","66,91","1,31"
4,2017-03-10 01:00:00,"55,2","16,98","3033,69","558,167","400,254","10,0697","1,74","250,203","252,136",...,"248,928","452,441","452,9","450,523","453,67","462,598","443,682","425,679","66,91","1,31"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737448,2017-09-09 23:00:00,"49,75","23,2","2710,94","441,052","386,57","9,62129","1,65365","302,344","298,786",...,"313,695","392,16","430,702","872,008","418,725","497,548","446,357","416,892","64,27","1,71"
737449,2017-09-09 23:00:00,"49,75","23,2","2692,01","473,436","384,939","9,62063","1,65352","303,013","301,879",...,"236,7","401,505","404,616","864,409","418,377","506,398","372,995","426,337","64,27","1,71"
737450,2017-09-09 23:00:00,"49,75","23,2","2692,2","500,488","383,496","9,61874","1,65338","303,662","307,397",...,"225,879","408,899","399,316","867,598","419,531","503,414","336,035","433,13","64,27","1,71"
737451,2017-09-09 23:00:00,"49,75","23,2","1164,12","491,548","384,976","9,61686","1,65324","302,55","301,959",...,"308,115","405,107","466,832","876,591","407,299","502,301","340,844","433,966","64,27","1,71"
737452,2017-09-09 23:00:00,"49,75","23,2","1164,12","468,019","384,801","9,61497","1,6531","300,355","292,865",...,"308,115","413,754","514,143","881,323","378,969","500,1","374,354","441,182","64,27","1,71"

### 1.2 Analisis del dataset
Hacemos un analisis del dataset mostrando su informacion usando la funcion de `info()`:|

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737453 entries, 0 to 737452
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          737453 non-null  object
 1   % Iron Feed                   737453 non-null  object
 2   % Silica Feed                 737453 non-null  object
 3   Starch Flow                   737453 non-null  object
 4   Amina Flow                    737453 non-null  object
 5   Ore Pulp Flow                 737453 non-null  object
 6   Ore Pulp pH                   737453 non-null  object
 7   Ore Pulp Density              737453 non-null  object
 8   Flotation Column 01 Air Flow  737453 non-null  object
 9   Flotation Column 02 Air Flow  737453 non-null  object
 10  Flotation Column 03 Air Flow  737453 non-null  object
 11  Flotation Column 04 Air Flow  737453 non-null  object
 12  Flotation Column 05 Air Flow  737453 non-null  object
 13  Flotation Column 06 Air Flow  737453 non-null  object
 14  Flotation Column 07 Air Flow  737453 non-null  object
 15  Flotation Column 01 Level     737453 non-null  object
 16  Flotation Column 02 Level     737453 non-null  object
 17  Flotation Column 03 Level     737453 non-null  object
 18  Flotation Column 04 Level     737453 non-null  object
 19  Flotation Column 05 Level     737453 non-null  object
 20  Flotation Column 06 Level     737453 non-null  object
 21  Flotation Column 07 Level     737453 non-null  object
 22  % Iron Concentrate            737453 non-null  object
 23  % Silica Concentrate          737453 non-null  object
dtypes: object(24)
memory usage: 135.0+ MB

Eliminamos la fecha ya que esa fecha solo indica que dia se tomo los datos

date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,Flotation Column 03 Air Flow,Flotation Column 04 Air Flow,Flotation Column 05 Air Flow,Flotation Column 06 Air Flow,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate

In [21]:
dataset['% Iron Feed'] = dataset['% Iron Feed'].str.replace(',', '.').astype(float)
dataset['% Silica Feed'] = dataset['% Silica Feed'].str.replace(',', '.').astype(float)
dataset['Amina Flow'] = dataset['Amina Flow'].str.replace(',', '.').astype(float)
dataset['Ore Pulp Flow'] = dataset['Ore Pulp Flow'].str.replace(',', '.').astype(float)
dataset['Ore Pulp pH'] = dataset['Ore Pulp pH'].str.replace(',', '.').astype(float)
dataset['Ore Pulp Density'] = dataset['Ore Pulp Density'].str.replace(',', '.').astype(float)
dataset['Flotation Column 01 Air Flow'] = dataset['Flotation Column 01 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 02 Air Flow'] = dataset['Flotation Column 02 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 03 Air Flow'] = dataset['Flotation Column 03 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 04 Air Flow'] = dataset['Flotation Column 04 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 05 Air Flow'] = dataset['Flotation Column 05 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 06 Air Flow'] = dataset['Flotation Column 06 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 07 Air Flow'] = dataset['Flotation Column 07 Air Flow'].str.replace(',', '.').astype(float)
dataset['Flotation Column 01 Level'] = dataset['Flotation Column 01 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 02 Level'] = dataset['Flotation Column 02 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 03 Level'] = dataset['Flotation Column 03 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 04 Level'] = dataset['Flotation Column 04 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 05 Level'] = dataset['Flotation Column 05 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 06 Level'] = dataset['Flotation Column 06 Level'].str.replace(',', '.').astype(float)
dataset['Flotation Column 07 Level'] = dataset['Flotation Column 07 Level'].str.replace(',', '.').astype(float)
dataset['% Iron Concentrate'] = dataset['% Iron Concentrate'].str.replace(',', '.').astype(float)
dataset['% Silica Concentrate'] = dataset['% Silica Concentrate'].str.replace(',', '.').astype(float)


dataset

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.20,16.98,"3019,53",557.434,395.713,10.06640,1.74000,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.20,16.98,"3024,41",563.965,397.383,10.06720,1.74000,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.20,16.98,"3043,46",568.054,399.668,10.06800,1.74000,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.20,16.98,"3047,36",568.665,397.939,10.06890,1.74000,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.20,16.98,"3033,69",558.167,400.254,10.06970,1.74000,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737448,2017-09-09 23:00:00,49.75,23.20,"2710,94",441.052,386.570,9.62129,1.65365,302.344,298.786,...,313.695,392.160,430.702,872.008,418.725,497.548,446.357,416.892,64.27,1.71
737449,2017-09-09 23:00:00,49.75,23.20,"2692,01",473.436,384.939,9.62063,1.65352,303.013,301.879,...,236.700,401.505,404.616,864.409,418.377,506.398,372.995,426.337,64.27,1.71
737450,2017-09-09 23:00:00,49.75,23.20,"2692,2",500.488,383.496,9.61874,1.65338,303.662,307.397,...,225.879,408.899,399.316,867.598,419.531,503.414,336.035,433.130,64.27,1.71
737451,2017-09-09 23:00:00,49.75,23.20,"1164,12",491.548,384.976,9.61686,1.65324,302.550,301.959,...,308.115,405.107,466.832,876.591,407.299,502.301,340.844,433.966,64.27,1.71
737452,2017-09-09 23:00:00,49.75,23.20,"1164,12",468.019,384.801,9.61497,1.65310,300.355,292.865,...,308.115,413.754,514.143,881.323,378.969,500.100,374.354,441.182,64.27,1.71

ahora como todos son de tipo object, se tienen que cambiar de tipo de dato a float, para que todos esten en un mismo dato y no haya errores al momento del entrenamiento:

In [8]:
dataset['% Iron Feed'] = dataset['% Iron Feed'].astype(float)

ValueError: could not convert string to float: '55,2'